@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

.field_label
{
    width:25%;
    float:left;
}
.input_container
{
    
}
.title_input
{
    width: 50%;
}
.list_view_section
{
    display: block;
}
.fieldscontainer
{
    width:100%;
}
td{
    width:350px;
}
tr{
    border-style:1px solid black;
}
tr:hover
{
    background-color: antiquewhite;
}